body {
    width: 90%;
    max-width: 800px;
    margin: auto;
    background-color: #aaaaaa;
}

header, footer {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #dddddd;
    position: relative;
}

#daily-entry, #date-picker {
    margin: auto;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
}

#date-picker {
  text-align: center;
}

/* Form Styles */
fieldset {
  display: flex;
  flex-direction: column;
}

input {
  width: 95%;
}

.delete-button {
  color: red;
}
