/** FONTS **/
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Open+Sans&display=swap');

/** COLOR PALLETTE **/
/** https://coolors.co/0a3200-221d23-b36a5e-f1edee **/
:root {
  --forest-green: #0a3200ff;
  --raisin-black: #221d23ff;
  --copper-penny: #b36a5eff;
  --isabelline: #f1edeeff;
}

body {
    width: 90%;
    max-width: 800px;
    margin: auto;
    color: var(--raisin-black);
    background-color: var(--forest-green);
    font-family: 'Open Sans', sans-serif;
}

header, footer {
    text-align: center;
    margin: 10px;
    position: relative;
    color: var(--isabelline);
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 3em;
  margin: 0;
}

h3 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2em;
    padding: 0px 10px;
}

#daily-entry, #date-picker {
    margin: auto;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    background-color: var(--isabelline);
}

#date-picker {
  text-align: center;
}

/* Form Styles */
fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

input {
  width: 95%;
}

button, input {
  font-family: 'Open Sans', sans-serif;
  margin: 5px 0px;
  float: right;
}

.delete-button {
  color: red;
}
